{% extends 'tabapp/base.html' %}
{% block title %}{{ activity_name }}{% endblock %}
{% block body_block %}
  <div class="col-xs-12">
    <h1>{{ activity_name }}</h1>
    {% for act in activity %}
      {% if act.timer %}
        <div class="col-xs-12" align="center">
          <h2>Timer: <i id="min">00</i> : <i id="sec">00</i> : <i id="msec">00</i> </h2>
          <button onclick="start()">START</button>
          <button onclick="stop()">STOP</button>
          <button onclick="reset()">RESET</button>
          <br /><br />
        </div>
      {% endif %}
      {% for name in act.groupNames.all %}
      <div class="col-xs-6 panel panel-default" align="center">
        <div class="panel-heading">{{ name }}</div>
        <div class="input-group panel-body">
          {% for var in act.components.all %}
          <div>
            {{ var }}:
            <input class="form-control" type="number" name="quantity" min="{{ var.minMarks }}" max="{{ var.maxMarks }}">
          </div>
          {% endfor %}
        </div>
        <br />
      </div>
      {%endfor%}
    {%endfor%}
    
<script>
    var timing = false; // Has timing started?
    var m = "min";
    var s = "sec";
    var ms = "msec";
    var intv;
  
    function check(i) {//Makes sure that single-digit numbers display with 0.
        if (i < 10) {i = "0" + i};
        return i;
    }
    
    function timer2(min, sec, msec) {
        var m = parseInt(document.getElementById(min).innerHTML);
        var s = parseInt(document.getElementById(sec).innerHTML);
        var ms = parseInt(document.getElementById(msec).innerHTML);
        
        ms += 1;
        if (ms == 100) { 
            ms = 0;
            s += 1;
        }
        if (s == 60) {
            s = 0;
            m += 1;
        }
      
        m = check(m);//Ensure that single digit numbers display with a 0 in front.
        s = check(s);
        ms = check(ms);
        
        document.getElementById(min).innerHTML = m.toString();
        document.getElementById(sec).innerHTML = s.toString();
        document.getElementById(msec).innerHTML = ms.toString();
    }
  
    function start() {
      if (!timing) {
        timing = true;
        intv = setInterval(function(){timer2("min", "sec", "msec")}, 10);
      } 
      else if (timing) {
        //#DoNothing
      }
    }
    
    function stop() {
        clearInterval(intv);
        timing = 0;
    }
    
    function reset() {
        if (timing) {
            stop();
            timing = false;
        } else if (!timing) {
           document.getElementById("min").innerHTML = "00";
           document.getElementById("sec").innerHTML = "00";
           document.getElementById("msec").innerHTML = "00";
        }
    }
  
    
</script>
    
{% endblock %}
    
<!-- Reference: http://stackoverflow.com/questions/4270330/django-show-a-manytomanyfield-in-a-template-->